MinecraftConsoles-nightly/Minecraft.World/Win32_Debug/Minecraft.World.lib filter=lfs diff=lfs merge=lfs -text
MinecraftConsoles-nightly/Minecraft.World/Win32_Release/Minecraft.World.lib filter=lfs diff=lfs merge=lfs -text
MinecraftConsoles-nightly/Minecraft.Client/Common/res/audio/streamed.xwb filter=lfs diff=lfs merge=lfs -text
